@import "tailwindcss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  hsl(47, 88%, 63%);
}

.card {
    background-color: white;
    
}

.learningtxt{
    background-color: #f4d04e;
    
}

